@import url("./style.css");


:root{
    --black-txt-100: #2F2C2C;
    --black-txt-200: #362E2E;
    --txt-300: #6A5454;
    --txt-400: #BAAA1A;
    --brdr-bot-recipe: #F4EBEB;
    --brdr-steps: #E8DADA;
    --txt-weight-200: 200;
    --txt-weight-regular: 400;
    --txt-weight-medium: 500;
    --txt-weight-SemiBold: 600;
    --txt-weight-Bold: 700;
    --txt-weight-ExtraBold: 800;
    --txt-black: 900;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: var(--main-ff-);
}


html {
    scroll-behavior: smooth;
  }
body {
    overflow-x: hidden;

}

.hero_section{
    padding: 6rem 1rem 1rem 1rem;
}

.image_description{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1294px;
    margin-inline: auto;
}

.image_description>img{
    width: 80%;
    max-width: 450px;
    border-radius: 10px;
}

.right_side>h1{
    font-size: 2.5rem;
    font-weight: var(--txt-weight-ExtraBold);
    color: var(--black-txt-100);
    margin-bottom: 1rem;
}
.right_side>p{
    color: var(--black-txt-200);
    font-size: var(--font-size-200);
    max-width: 650px;
}

.right_side{
    padding-top: 1rem;
    text-align: center;

}
/* Info-------prep-cook-servings */
.info{
    margin-inline: auto;
    width: 90%;
    max-width: 500px;
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-around;
}
.info_icon>img{
    width: 35%;
    max-width: 40px;
}


.info_icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.info_icon>h4{
    color: var(--black-txt-200);
    font-weight: var(--txt-weight-SemiBold);
}

.info_icon>p{
    margin-top: -5px;
    color: var(--black-txt-200);
}
/* -----ingredients and Procedure ----- */
.ingred_proced{
    max-width: 1294px;
    width: 100%;
}

.ingred_proced, .procedure{
    margin-top: 3rem;
    margin-inline: auto;
    
}
/* ----Ingredients */
.ingredients ,.procedure>h2{
    text-align: center;
}

.ing_proc_h2{
    color: var(--black-txt-100);
    font-size: 1.8rem;
}

.ingredients>ul>li{
    padding-block: .8rem;
    color: var(--black-txt-100);
    border-bottom: 1px solid var(--brdr-bot-recipe);
}
/* -----procedure */

.steps{
    margin-bottom: 2rem;
    text-align: center;
}

.steps>h4{
    color: var(--txt-400);
    position: relative;
    font-size: 1.2rem;
    margin-bottom: .5rem;
}
/* .steps>h4::after{
    position: absolute;
    content: '';
    width: 200px;
    height: 2px;
    top: 50%;
    left: 65px;
    background-color: var(--brdr-steps);
} */

.steps>p{
    color: var(--txt-300);
    font-size: .9rem;
}

/* ----- Features */

.featured{
    width: 100%;
    max-width: 1294px;
    margin-inline: auto;
}
.featured>h1{
    text-align: center;
    color: var(--black-txt-100);
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
  
}




/* ---------Media query */

@media screen and (min-width:900px){
    .image_description{
        flex-direction: row;
        gap: 3rem;
        justify-content: center;
    }
    .right_side{
        text-align: start;
    }
    .ingred_proced{
        display: flex;
        gap: 3rem;
        justify-content: center;
    }
    .ingredients{
        width: 500px;
    }
    .procedure{
        width: 500px;
        margin: 0;
    }
    .steps{
        text-align: start;
    }
    /* ABOUT */
    .about{
        display: flex;
        justify-content: center;
        gap: 1rem;
    }
    .left_side>h1{
        font-size: 2.5rem;
    }
    .left_side>p{
        font-size: 1.2rem;
    }
    .category{
        flex-direction: column;
    }
    #tapsilog{
        display: flex;
    }
   
}

@media screen and (min-width: 1024px) {
    .right_side{
        width: 700px;
    }
    .right_side>h1{
        font-size: 3rem;
    }
    .right_side>p{
        font-size: 1.2rem;
    }
    .info{
        margin: 1.5rem 0;
    }

    .ing_proc_h2{
        font-size: 2rem;
    }
    .steps>h4{
        font-size: 1.3rem;
    }
    .steps>p{
        font-size: 1.1;
    }
    .ingredients>ul>li{
        text-align: start;
    }
    .ingred_proced{
        justify-content: space-between;
    }

    .image_description{
        justify-content: space-between;
    }
    .procedure{
        width: 700px;
    }
    .category{
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 0;
    }
    /* -------------- */
    .left_side>h1{
        font-size: 3.5rem;
    }
    .left_side>p{
        font-size: 1.2rem;
    }
    .first{
        display: flex;
    }
    .first>h2{
        font-size: 1.5rem;
        text-align: center;
    }
    #tapsilog{
        right: 0;
        top: 0;
    }
    #tortang_talong{
        left: 30%;
        top: -5%;
    }
    #pritong_manok{
        right: 0;
        top: 50%;
    }
    #adobong_sitaw{
        left: 30%;
        top: 40%;
    }

}