/* POPPINS IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

/* START OF ROOT */

:root {
    --main-ff-: 'Poppins', sans-serif;
    --main-text-color: #F4EBEB;
    --secondary-text-color: #2F2C2C;
    --tertiary-txt-color: #362E2E;
    --nav-color: #2EAF7D;
    --txt-weight-200: 200;
    --txt-weight-regular: 400;
    --txt-weight-medium: 500;
    --txt-weight-SemiBold: 600;
    --txt-weight-Bold: 700;
    --txt-weight-ExtraBold: 800;
    --txt-black: 900;
    --txt-stats-color: #449342;

}

/* END OF ROOT */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: var(--main-ff-);
}
html {
    scroll-behavior: smooth;
  }
body {
    overflow-x: hidden;
    background-color: #e6f0ee;


}
.contain{
    position: relative;
}
/* ----------------NAVBAR START */
nav {
    position: fixed;
    width: 100%;
    height: 8vh;
    background-color: var(--nav-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 15rem;
    z-index: 999;
    transition: transform 0.2s;
}
.nav_hidden{
    transform: translateY(calc(-1 * 9vh));
}

.logo_side {
    display: flex;
    align-items: center;
}

.logo_side>a {
    color: var(--main-text-color);
    font-weight: var(--txt-black);
    font-size: 1.5rem;
    cursor: pointer;
}

/* -----------------Links */
.navbar {
    display: flex;
    gap: 2rem;

}


.navbar a {
    font-weight: var(--txt-weight-medium);
    font-size: 1.1rem;
    color: var(--main-text-color);
    transition: all 200ms ease-in-out;
}

.navbar a:hover {
    opacity: .7;

}

/* ----------------------TOGGLE */
.toggle {
    z-index: 2;
    right: 2rem;
    position: absolute;
    background-image: url(../icon/bars-Solid.png);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 30px;
    width: 20px;
    transition: all 100ms ease-in-out;
    display: none;
}

.show_toggle {
    background-image: url(../icon/xmark-solid.png);
}

/* --------END NAVBAR */

/* ------- Main(Hero_ section) Start */

.bg {
    height: 70vh;
    background-image: url(../icon/images/hero_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    padding-inline: .2rem;
}

.bg>h2 {
    color: var(--main-text-color);
    font-size: 4rem;
    max-width: 600px;
}

.bg>p {
    color: var(--main-text-color);
    font-size: 1.3rem;
    font-weight: var(--txt-weight-300);
    width: 100%;
    max-width: 700px;

}

.btn_container {
    display: flex;
    gap: 1rem;
}

.btn{
    border: none;
    border-radius: 20px;
    font-weight: var(--txt-weight-SemiBold);
    cursor: pointer;
}


.btn_about {
    background-color: var(--main-text-color);
    color: var(--secondary-text-color);
    transition: color 100ms ease-in-out;
    padding: 8px 15px;

}


.btn_rec {
    background-color: var(--nav-color);
    color: var(--main-text-color);
    transition: color 100ms ease-in-out;
    padding: 8px 20px;

}

.btn_about:hover{
    background-color: var(--secondary-text-color);
    color: var(--main-text-color);
}

.btn_rec:hover{
    background-color: var(--main-text-color);
    color: var(--nav-color);
}


/* ----START OF STATS */

.stats {
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    height: 20vh;
    width: 100%;
    max-width: 1800px;
    margin-inline: auto;
    padding-inline: .7rem;
}

.stats_container {
    width: 250px;
}

.stats_container>h1 {
    font-size: 4.3rem;
    color: var(--txt-stats-color);
}

.stats_container>p {
    font-size: 1.3rem;
    color: var(--secondary-text-color);
}




/* --END OF STATS */

/* -------------Main(Hero_ section) */
/* --------RECIPE */

.recipe{
    margin-top: 2vh;
    max-width: 1500px;
    margin-inline: auto;
    height: 100vh;
    padding: 1rem;
}
.recipe>h1{
    color: var(--secondary-text-color);
    text-align: center;
    font-size: 3rem;
    margin-block: 1.5rem;
}
.Card{
    width: 20%;
    display: inline;
    padding-bottom: 1rem;
}
.Card img{
    width: 250px;
    border-radius: 20px;
    height: 200px;
    object-fit: cover;
    cursor: pointer;

}

.Card>p{
    color: var(--secondary-txt-color);
}
.Card>h3{
    color: var(--secondary-text-color);
    width: 70%;
}
.desc{
    display: flex;
    gap: 1.5rem;
}

/* .desc>.open_recipe{
    width: 25px;
    height: 25px;
    background-image: url(/icon/direct.png);
    background-size: cover;
} */
/* --------About */
.about{
    margin-block: 2.5rem;
    padding-inline: 1rem;
    max-width: 1450px;
    margin-inline: auto;

}

.left_side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.left_side>h1{
    color: var(--secondary-text-color);
    font-size: 2.6rem;
}
.left_side>p{
    font-size: 1.2rem;
    color: var(--tertiary-txt-color);
    font-weight: var(--txt-weight-regular);
    text-align: center;
    max-width: 500px;
}
.left_side>img{
    width: 100%;
    max-width: 600px;
    padding-block: 1rem;
}

.category{
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;
    padding-inline: 1.5rem;
    gap: 1.5rem;
}

.category>h3{
    color: var(--tertiary-txt-color);
    padding: 7px 15px ;
}

.break{
    border-radius: 20px;
    background: linear-gradient(to right, rgba(218,253,191,1),rgba(255,255,255,.6));
}

/* CARD---- */
.feature{
    padding-top: 3rem;
    padding-inline: 1rem;
    position: relative;
    height: 100%;
}

.first{
    background: linear-gradient(to top,rgba(242,233,233,1),rgba(223,236,217,.3));
    box-shadow: 0px  2px 4px rgba(0, 0, 0, .25);
    border-radius: 20px;
    width: 200px;
    height: 230px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    padding: 1.6rem;
    display: none;
}
.first>.img{
    width: 140px;
    height: 140px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    position: absolute;
    top: -15%;
}
#tapsilog>.img{
    background-image: url("https://images.summitmedia-digital.com/sap/images/2020/12/18/spot-purefoods-clientimage-mainimage-1-1608283411.jpg");
}
#pritong_manok>.img{
    background-image: url("https://i.ytimg.com/vi/Eh6opoRQJz8/maxresdefault.jpg");
}
#adobong_sitaw>.img{
    background-image: url("https://images.summitmedia-digital.com/yummyph/images/2019/09/25/adobongsitawrecipewithchicken.jpg");
}
#tortang_talong>.img{
    background-image: url("https://rmn.ph/wp-content/uploads/2020/03/Tortang-Talong.jpg");

}
.first>h2{
    color: var(--secondary-text-color);
}
.first>p{
    color: var(--tertiary-txt-color);
}


/* ------------Footer */







/* -----------RESPONSIVE */
/* ---------phone */
@media screen and (max-width: 399px) {
    .navbar {
        position: absolute;
        width: 100%;
        background-color: var(--nav-color);
        height: 40vh;
        display: flex;
        gap: 1rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1;
        transform: translateY(-100%);
        transition: all 500ms ease-in-out;
    }
    .show {
        transform: translateY(30%);
    }

    .toggle {
        display: block;
    }
    nav{
        padding: 0;
    }
    .logo_side>a{
        font-size: 1rem;
        padding-left: 10px;
    }
    /* CONTENT HERO SEC */
    .bg>h2{
        font-size: 2.5rem;
    }
    .bg>p{
        font-size: 1rem;
    }
    .btn{
        padding: 4px 10px;
    }

    .btn_about{
        font-size: 1rem;
    }

    .btn_rec{
        font-size: 1rem;
    }
    /* -------Stats */
    .stats_container>h1{
        font-size: 2.5rem;
    }
    .stats_container>p{
        font-size: .8rem;
    }
    .stats_container{
        width: 100px;
    }
    /* RECIPE */
    .recipe>h1{
        font-size: 2.5rem;
    }
    .glider-contain{
        margin-block: 1rem;
    }
    .Card img{
        width: 180px;
        height: 130px;
      
    }
    .Card>h3{
        font-size: 1.1rem;
    }
    .Card>p, .desc>p{
        font-size: .8rem;
    }
}


/* ----tablet */
@media screen and (max-width:769px) and (min-width: 400px){

    /* ---------Navbar */
    .navbar {
        position: absolute;
        width: 100%;
        background-color: var(--nav-color);
        height: 30vh;
        display: flex;
        gap: 1rem;
        flex-direction: column;
        padding-top: 5.5rem;
        /* justify-content: center; */
        align-items: center;
        z-index: 1;
        transform: translateY(-100%);
        transition: all 500ms ease-in-out;
    }

    
    .show {
        transform: translateY(30%);
    }
    .show>a{
        padding-bottom: .2rem;
    }

    .toggle {
        display: block;
    }

    .navbar a {
        font-size: 1.3rem;
    }
    nav {
        padding-inline: 0rem;
    }
    .logo_side>a{
        padding-left: 1rem;
    }
    /* -----------END OF NAVBAR */
    /* -----------main Description Start */
    .bg>h2{
        font-size: 3rem;
    }
    .bg>p{
        font-size: 1.2rem;
    }
    .stats{
        justify-content: center;
    }

    /* ------------End main Description */

    /* ------------STATS */
    

    .stats_container>h1 {
        font-size: 3rem;
        text-align: center;
    }

    .stats_container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .stats {
        gap: 2rem;
    }

    .stats_container>p {
        font-size: .88rem;
    }
    .recipe>h1{
        font-size: 2rem;
    }
    /* ---------END OF STATS */
    /* CARD */
    .Card>h3{
        font-size: 1rem;
    }
    .Card>img{
        width: 200px;
        height: 150px;
    }
    .Card > .open_recipe{
        width: 15px;
        height: 15px;
    }
    .stats{
        justify-content: center;
    }
    
}

/* laptop */

@media screen and (max-width:1250px) and (min-width: 770px)  {
    nav {
        padding-inline: 2rem;
    }
    .slider{
        display: none;
    }

    /*---------END OF NAVBAR  */
}